html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

#main-container {
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#header-text {
    margin: 15px;
    text-align: center;
    transition: opacity 0.5s ease;
}

#button {
    font-size: 3rem;
    color: black;
    background-color: #ff74ca;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
}

#button:disabled {
    background-color: #be4a92;
    color: #383838;
}

#drums {
    width: 200px;
    height: auto;
    display: none;
    animation: rotate 2s linear infinite;
}

#background-video {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}


#reveal-image {
    display: none;
    width: 400px;
    height: auto;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
